<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <h1>Shop Details Page</h1>
        <% if (products.length > 0) {%>
            <div class="grid">
                <% for (let product of products) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title">
                                <%=product.title %>
                            </h1>
                        </header>
                        <div class="card__image">
                            <img src="/public/images/book.jpg"
                                alt="A Book">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= product.hasOwnProperty('price') ? product.price : 'NA' %></h2>
                            <p class="product__description"><%= product.hasOwnProperty('description') ? product.description : 'No description available' %></p>
                        </div>
                        <div class="card__actions">
                            <%- include('../includes/add-to-cart.ejs',{product:product}) %>
                        </div>
                    </article>        
                 <% } %>   
            </div>
        <% } else {%>
            <h2>No products available now</h2>
        <% } %>        
    </main>
    <%- include('../includes/end.ejs') %>